asgiref==3.7.2
crispy-bootstrap5==2024.2
distlib==0.3.8
Django==5.0.3
django-crispy-forms==2.1
djangorestframework==3.14.0
filelock==3.13.1
gunicorn==21.2.0
idna==3.6
kiwisolver==1.4.5
numpy==1.26.4
packaging==24.0
pillow==10.2.0
platformdirs==4.1.0
pyparsing==3.1.2
pytz==2024.1
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2024.1
urllib3==2.2.1
virtualenv==20.25.0
